<!DOCTYPE HTML>
<html>
<head>
    <title>Project form</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/images/favicon.ico">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@koumoul/vjsf@2.7.3/dist/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@koumoul/vjsf@2.7.3/dist/third-party.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@koumoul/vjsf@2.7.3/dist/main.css">
</head>
<body>
    
    <v-app id="app">

        <v-app-bar color="white" >
            <img height="45" src="/static/images/logo.svg"/>
            <v-spacer></v-spacer>
            <v-app-bar-nav-icon></v-app-bar-nav-icon>
        </v-app-bar>

        <v-container>
            <v-card>
                <v-card-title class="primary">
                    <v-row>
                        <v-col cols="8">
                            <span class="white--text text-h4">{{ '{{schema.title}}' }}</span>
                        </v-col>
                        <v-col cols="2">
                            <v-select dense dark
                                :items="schemaList"
                                item-text="name"
                                item-value="alias"
                                label="Project type"
                                v-model="schemaAlias"
                                v-on:change="changeProject"/>
                        </v-col>
                        <v-col cols="2">
                            <v-select dense dark
                                :items="templateList"
                                item-text="title"
                                item-value="alias"
                                label="Template"
                                v-model="templateAlias"
                                v-on:change="getSchema"/>
                        </v-col>
                </v-card-title>

                <v-tabs background-color="primary" dark grow>
                    <v-tab>Metadata</v-tab>
                    <v-tab>Related images</v-tab>
                    <v-tab>Related samples</v-tab>
                    <v-tab>Related datasets</v-tab>
                </v-tabs>

                <v-card-text class="white">
                    <v-form ref="form" v-model="valid">
                        <v-jsf v-model="model" :schema="schema" :options="options" />
                    </v-form>
                </v-card-text>
                <v-card-actions class="white">
                    <v-spacer></v-spacer>
                    <v-btn class="mx-2" color="primary" @click="$refs.form.validate()">Validate</v-btn>
                </v-card-actions>
            </v-card>
            <br/>

            <h5>Valid: {{ '{{valid}}' }}</h5>
            <h5>Model:</h5>
            <pre>{{ '{{model}}' }}</pre>
        </v-container>
        
        <v-container fill-height /> <!-- fills remaining horizontal space, if necessary -->
    </v-app>

    <script type="text/javascript">
        
        const initialSchemaAlias = "{{ schema_alias }}"
        const initialTemplateAlias = "{{ template_alias }}"
        const initialSchemaList = {{ schema_list | safe }}
        const initialTemplateList = []
        const initialId = "{{ id }}"
        const options =  { 
            "editMode": "inline",
            "disableAll": false,
            //"rootDisplay": "expansion-panels"
        }

        Vue.component('VJsf', VJsf.default)

        new Vue({
            el: '#app',

            vuetify: new Vuetify({
                theme: {
                    themes: {
                        light: {
                            primary: '#af8d55'
                        },
                    },
                },
            }),

            data: {
                options,
                model: {},
                schema: {},
                schemaAlias: initialSchemaAlias,
                templateAlias: initialTemplateAlias,
                schemaList: initialSchemaList,
                templateList: initialTemplateList,
                valid: null
            },

            mounted() {
                this.getData()
                this.getSchema()
                this.getTemplateList()
            },

            methods: {
                getSchema() {
                    let url = '/project/' + this.schemaAlias + (this.templateAlias !== '' ? '/' + this.templateAlias : '')
                    axios.get('/schema' + url)
                        .then(response => {
                            this.schema = response.data
                            if (id !== "") url += "?id=" + id
                            window.history.replaceState({}, this.schema.title, url)
                        })
                        .catch(error => {
                            console.log(error)
                        })
                },

                getData() {
                    axios.get('/api/v1/project/' + initialId)
                        .then(response => {
                            this.model = response.data
                            this.options.disableAll = true
                        })
                        .catch(error => {
                            console.log(error)
                        })
                },

                getTemplateList() {
                    axios.get('/api/v1/template/' + this.schemaAlias)
                        .then(response => {
                            this.templateList = response.data
                        })
                        .catch(error => {
                            console.log(error)
                        })
                },

                changeProject() {
                    this.templateAlias = ""
                    this.getSchema()
                    this.getTemplateList()
                }
            }
        })
    </script>
	
</body>
</html>