<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>JSON EDITOR</title>

    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

    <script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>
  </head>
  <body>
    <div class='container grid-xl'>
      <br/>
      <div class="card border-danger mb-3">  
        <div class="card-header text-white bg-danger">JSON-EDITOR</div>
          <div class="card-body">
            <ul>
                <li><a href="https://github.com/json-editor/json-editor">github.com/json-editor/json-editor</a></li>
                <li>No dependencies, multiple mappings for css-frameworks (here: Bootstrap 4.x)</li>
                <li>Last release: Nov 2021 (under active development)</li>
                <li>Renders ok</li>
                <li>With or without "default": null, it always fills each field with something ("", 0...), which is unacceptible. Omitting keys with no values can only be done with the show_opt_in option, but destroys user-friendlyness</li>
                <li>Validation fails on date fields; "" is accepted as valid date</li>
            </ul>
        </div>
      </div>
      <br/>

      <div id='editor_holder'></div>

      <br/><br/>
      <button id='submit'>Check</button>
      <br/><br/>
      
      <h6>JSON Output:</h6>
      <textarea id='output-textarea' readonly disabled rows="15" style="width: 100%; font-family: monospace;" class='form-control'></textarea>

      <h6>Validation:</h6>
      <textarea id='validate-textarea' readonly disabled class='form-control'></textarea>
    </div>

    <script>
      var outputTextarea = document.querySelector('#output-textarea')
      var validateTextarea = document.querySelector('#validate-textarea')

      // Initialize the editor with a JSON schema
      var editor = new JSONEditor(document.getElementById('editor_holder'),{
        iconlib: 'fontawesome5',
        object_layout: 'normal',
        show_errors: 'always',  //interaction, change, always, never
        disable_properties: true,
        disable_edit_json: true,
        theme: 'bootstrap4',
        schema: {{ schema|safe }}
      });

      // Hook up the submit button to log to the console
      document.getElementById('submit').addEventListener('click',function() {
        // output
        var json = editor.getValue()
        outputTextarea.value = JSON.stringify(json, null, 2)

        // validate
        var validationErrors = editor.validate()
        if (validationErrors.length) {
          validateTextarea.value = JSON.stringify(validationErrors, null, 2)
        } else {
          validateTextarea.value = 'valid'
        }
      });
    </script>
  </body>
</html>