{% extends "base.html.jinja" %}

{% block title %}Project form{% endblock %}

{% block head %}
    {{ super() }}
    
    <script src="https://cdn.jsdelivr.net/npm/@koumoul/vjsf@2.7.3/dist/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@koumoul/vjsf@2.7.3/dist/third-party.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@koumoul/vjsf@2.7.3/dist/main.css">
{% endblock %}

{% block content %}
    <v-banner color="primary" class="elevation-5 px-10">
        <span 
            v-html="title"
            class="white--text 
            text-h4 
            px-10"></span>
        <template v-slot:actions v-if="!isError">
            <v-tooltip left v-if="!isNew && isEditable">
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                        class="mx-2"
                        color="error"
                        fab
                        small
                        @click="deleteDialog = true"
                        v-bind="attrs"
                        v-on="on">
                        <v-icon>mdi-delete</v-icon>
                    </v-btn>
                </template>
                <span>Delete</span>
            </v-tooltip>
            <v-tooltip left v-if="isEditable">
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                        class="mx-2"
                        color="success"
                        fab
                        small
                        @click="saveTemplate()"
                        v-bind="attrs"
                        v-on="on"
                        :disabled="!valid">
                        <v-icon>mdi-content-save</v-icon>
                    </v-btn>
                </template>
                <span>Save</span>
            </v-tooltip>
            <v-tooltip left v-if="isEditable">
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                        class="mx-2"
                        color="secondary"
                        fab
                        @click="initialize()"
                        v-bind="attrs"
                        v-on="on">
                        <v-icon>mdi-cancel</v-icon>
                    </v-btn>
                </template>
                <span>Cancel</span>
            </v-tooltip>
            <v-tooltip left v-if="!isEditable">
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                        class="mx-2"
                        color="secondary"
                        fab
                        @click="isEditable = true"
                        v-bind="attrs"
                        v-on="on">
                        <v-icon>mdi-pencil</v-icon>
                    </v-btn>
                </template>
                <span>Edit template</span>
            </v-tooltip>
        </template>
    </v-banner>


    <v-container>
        <v-card>
            <v-card-title class="primary">
                <v-row>
                    <v-col cols="8">
                        <span class="white--text text-h4">{{ '{{schema.title}}' }}</span>
                    </v-col>
            </v-card-title>

            <v-tabs background-color="primary" dark grow>
                <v-tab>Metadata</v-tab>
                <v-tab>Related images</v-tab>
                <v-tab>Related samples</v-tab>
                <v-tab>Related datasets</v-tab>
            </v-tabs>

            <v-card-text class="white">
                <v-form ref="form" v-model="valid">
                    <v-jsf v-model="data" :schema="schema" :options="options" />
                </v-form>
            </v-card-text>
            <v-card-actions class="white">
                <v-spacer></v-spacer>
                <v-btn class="mx-2" color="primary" @click="$refs.form.validate()">Validate</v-btn>
            </v-card-actions>
        </v-card>
        <br/>

        <h5>Valid: {{ '{{valid}}' }}</h5>
        <h5>Model:</h5>
        <pre>{{ '{{data}}' }}</pre>
    </v-container>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        
        const initialId = "{{ id }}"
        const options =  { 
            "editMode": "inline",
            "disableAll": false,
            //"rootDisplay": "expansion-panels"
        }

        Vue.component('VJsf', VJsf.default)

        new Vue({
            el: '#app',

            vuetify: new Vuetify({
                theme: {
                    themes: {
                        light: {
                            primary: '#af8d55'
                        },
                    },
                },
            }),

            data: {
                appBarDropdown: false,

                title: "Project form (loading)",
                isError: false,
                isEditable: false,
                isNew: false,
                isDeleted: false,

                options,
                data: {},
                schema: {},
                valid: null,

                category: null,
                template: null,
            },

            mounted() {
                this.getData()
            },

            methods: {
                getSchema() {
                    let url = '/schema/project/' + this.category + (this.template ? '/' + this.template : '')
                    axios.get(url)
                        .then(response => {
                            this.schema = response.data
                        })
                        .catch(error => {
                            console.log(error)
                        })
                },

                getData() {
                    axios.get('/api/v1/projects/' + initialId)
                        .then(response => {
                            this.data = response.data
                            this.title = "Project: <i>" + this.data.project_code + " <sub>&commat;" + this.data.unit + "</sub></i>"
                            this.getKeys(this.data.$schema)
                            this.getSchema()
                        })
                        .catch(error => {
                            console.log(error)
                        })
                },

                getKeys(schemaUrl) {
                    let parts = schemaUrl.split("project/", 2)[1].split("/")
                    this.category = parts[0]
                    this.template = (parts.length >= 2) ? parts[1] : null
                },

                changeProject() {
                    this.templateAlias = ""
                    this.getSchema()
                    this.getTemplateList()
                }
            }
        })
    </script>
{% endblock %}