{% extends "base.html.jinja" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
    {{ super() }}
    
    <script src="https://cdn.jsdelivr.net/npm/@koumoul/vjsf@2.11.3/dist/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@koumoul/vjsf@2.11.3/dist/third-party.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@koumoul/vjsf@2.11.3/dist/main.css">
{% endblock %}

{% block content %}
    <v-banner color="primary" class="elevation-5 px-10">
        <span 
            v-html="title"
            class="white--text 
            text-h4 
            px-10"></span>
        <template v-slot:actions v-if="!isError">
            <v-tooltip left v-if="!isNew && isEditable">
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                        class="mx-2"
                        color="error"
                        fab
                        small
                        @click="deleteDialog = true"
                        v-bind="attrs"
                        v-on="on">
                        <v-icon>mdi-delete</v-icon>
                    </v-btn>
                </template>
                <span>Delete</span>
            </v-tooltip>
            <v-tooltip left v-if="isEditable">
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                        class="mx-2"
                        color="success"
                        fab
                        small
                        @click="saveData()"
                        v-bind="attrs"
                        v-on="on"
                        :disabled="!isValid">
                        <v-icon>mdi-content-save</v-icon>
                    </v-btn>
                </template>
                <span>Save</span>
            </v-tooltip>
            <v-tooltip left v-if="isEditable">
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                        class="mx-2"
                        color="secondary"
                        fab
                        @click="getData()"
                        v-bind="attrs"
                        v-on="on">
                        <v-icon>mdi-cancel</v-icon>
                    </v-btn>
                </template>
                <span>Cancel</span>
            </v-tooltip>
            <v-tooltip left v-if="!isEditable">
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                        class="mx-2"
                        color="secondary"
                        fab
                        @click="isEditable = true"
                        v-bind="attrs"
                        v-on="on">
                        <v-icon>mdi-pencil</v-icon>
                    </v-btn>
                </template>
                <span>Edit template</span>
            </v-tooltip>
        </template>
    </v-banner>

    <v-container>
        <v-row v-if="alert">
            <v-col
                md="6"
                offset-md="3"
                class="pb-6">
                <v-alert class="mb-0"
                    v-model="alert"
                    :type="alertType"
                    elevation="5"
                    transition="scale-transition"
                    dismissible
                    v-text="alertText">
                </v-alert>
            </v-col>
        </v-row>

        <v-tabs
            v-if="!isError"
            v-model="tab"
            show-arrows
            centered>
            <v-tab 
                v-for="item in tabItems" 
                :key="item"
                v-text="item">
            </v-tab>
        </v-tabs>

        <v-card 
            v-if="tab === 0 && !isError"
            class="mt-6" 
            elevation="0" 
            :disabled="!isEditable">
            <v-row>
                <v-spacer></v-spacer>
                <v-btn
                    v-if="isEditable"
                    @click="templateDialog = true"
                    color="primary"
                    dark>
                    <span v-text="resource"></span>&nbsp;category...
                </v-btn>
            </v-row>
            <v-row>
                <v-form ref="form" v-model="isValid">
                    <v-jsf 
                        v-model="data" 
                        :schema="schema" 
                        :options="formOptions"></v-jsf>
                </v-form>
            </v-row>
        </v-card>

        <v-card 
            v-if="tabItems[tab] === 'Project' && hasData && !isError"
            class="mt-6" 
            elevation="0">
            <v-row>
                <v-spacer></v-spacer>
                <v-btn
                    v-if="data.project.project_id"
                    :href="'/projects/' + data.project.project_id"
                    target="_blank"
                    class="ml-4"
                    color="primary"
                    dark>
                    Open...
                </v-btn>
                <v-btn
                    v-if="isEditable"
                    @click="relatedProjectDialog = true"
                    class="ml-4"
                    color="primary"
                    dark>
                    Connect project...
                </v-btn>
            </v-row>
            <v-row>
                <v-spacer></v-spacer>
                <v-col cols="12" sm="10" md="8" lg="6">
                    <v-simple-table class="my-3">
                        <template v-slot:default>
                            <tbody>
                                <tr v-for="(val, key) in relatedProject"
                                    :key="key">
                                    <td><span class="font-weight-bold" v-text="makeColumnName(key)"></span></td>
                                    <td><span v-text="val"></span></td>
                                </tr>
                            </tbody>
                        </template>
                    </v-simple-table>
                </v-col>
                <v-spacer></v-spacer>
            </v-row>
        </v-card>

        <v-card 
            v-if="tabItems[tab] === 'Contributors' && hasData && !isError"
            class="mt-6" 
            elevation="0" 
            :disabled="!isEditable">
            <pre v-text="data.contributors"></pre>
        </v-card>

        <v-card 
            v-if="tabItems[tab] === 'Datasets' && hasData && !isError"
            class="mt-6" 
            elevation="0" 
            :disabled="!isEditable">
            <v-row>
                <pre v-text="relatedDatasets"></pre>
            </v-row>
        </v-card>

        <v-card 
            v-if="tabItems[tab] === 'Samples' && hasData && !isError"
            class="mt-6" 
            elevation="0" 
            :disabled="!isEditable">
            <pre>SAMPLES</pre>
        </v-card>

        <v-card 
            v-if="tabItems[tab] === 'Images' && hasData && !isError"
            class="mt-6" 
            elevation="0" 
            :disabled="!isEditable">
            <pre>IMAGES</pre>
        </v-card>
    </v-container>

    <v-dialog
        v-model="templateDialog"
        max-width="600">
        <v-card>
            <v-card-title class="text-h5">
                <span v-if="isNew">Select <span v-text="resource.toLowerCase()"></span> category</span>
                <span v-else>Change <span v-text="resource.toLowerCase()"></span> category</span>
            </v-card-title>

            <v-card-text>
                <v-form 
                    ref="templateDialogForm" 
                    v-model="templateDialogFormValid">
                    <v-select
                        v-model="category"
                        :items="categories"
                        item-text="name"
                        item-value="value"
                        label="Category"
                        :rules="requiredRule"
                        required></v-select>
                    <v-select
                        v-model="template"
                        :items="templates"
                        item-text="name"
                        item-value="value"
                        label="Template"
                        :rules="requiredRule"
                        required></v-select>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="primary"
                    text
                    @click="templateDialog = false">
                    Cancel
                </v-btn>
                <v-btn
                    color="primary"
                    text
                    :disabled="!templateDialogFormValid"
                    @click="getSchema()">
                    Apply
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

    <v-dialog
        v-model="relatedProjectDialog"
        max-width="600">
        <v-card>
            <v-card-title class="text-h5">
                <span>Connect a project</span>
            </v-card-title>

            <v-card-text>
                <v-form 
                    ref="relatedProjectDialogForm" 
                    v-model="relatedProjectDialogFormValid">
                    <v-text-field
                        v-model="relatedProjectDialogProjectCode"
                        label="Project code"
                        :rules="requiredRule"
                        required></v-text-field>
                    <v-select
                        v-model="relatedProjectDialogUnit"
                        :items="units"
                        label="Unit"
                        :rules="requiredRule"
                        required></v-select>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="primary"
                    text
                    @click="relatedProjectDialog = false">
                    Cancel
                </v-btn>
                <v-btn
                    color="primary"
                    text
                    :disabled="!relatedProjectDialogFormValid"
                    @click="getRelatedProject(null, relatedProjectDialogProjectCode, relatedProjectDialogUnit)">
                    Apply
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

    <v-dialog
        v-model="deleteDialog"
        max-width="600"
        :persistent="isDeleted">
        <v-card>
            <v-card-title class="text-h5">
                Delete <span v-text="resource.toLowerCase()"></span>
            </v-card-title>
            <v-card-text v-if="!isDeleted">
                Are you sure you want to delete this <span v-text="resource.toLowerCase()"></span>? This action cannot be undone.
            </v-card-text>
            <v-card-text v-if="isDeleted">
                The <span v-text="resource.toLowerCase()"></span> is deleted.
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    v-if="!isDeleted"
                    color="primary"
                    text
                    @click="deleteDialog = false">
                    Cancel
                </v-btn>
                <v-btn
                    v-if="!isDeleted"
                    color="primary"
                    text
                    @click="deleteData()">
                    Delete
                </v-btn>
                <v-btn
                    v-if="isDeleted"
                    color="primary"
                    text
                    href="{{ ui_endpoint }}">
                    OK
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        const primaryColor = '{{ primary_color }}'
        const title = '{{ title }}'
        const titleParts = '{{ title_parts | safe }}'
        const resource = '{{ resource }}'
        const uiEndpoint = '{{ ui_endpoint }}'
        const apiEndpoint = '{{ api_endpoint }}'
        const schemaEndpoint = '{{ schema_endpoint }}'
        const tabs = '{{ tabs | safe }}'
        const initialId = '{{ id }}'
        const queryParameterCategory = '{{ category }}'
        const queryParameterTemplate = '{{ template }}'
        const templateList = {{ template_list | safe }}
        const units = '{{ units | safe }}'

        const formOptions =  { 
            "locale": "en-gb", 
            "editMode": "inline",
            "textareaProps": {
                "filled": true,
                "auto-grow": true,
            },
            "timePickerProps": {
                "format": "24hr"
            }
        }

        Vue.component('VJsf', VJsf.default)

        new Vue({
            el: '#app',

            vuetify: new Vuetify({
                theme: {
                    themes: {
                        light: {
                            primary: primaryColor
                        },
                    },
                },
            }),

            data: {
                appBarDropdown: false,

                title: title,
                titleParts: JSON.parse(titleParts),
                resource: resource,
                id: initialId,
                schemaUrl: null,
                category: (queryParameterCategory !== "") ? queryParameterCategory : null,
                template: (queryParameterTemplate !== "") ? queryParameterTemplate : null,

                isEditable: false,
                isNew: false,
                isDeleted: false,
                isValid: null,
                isError: false,

                tab: null,
                tabItems: JSON.parse(tabs),
                templateDialog: false,
                templateDialogFormValid: false,
                categories: Object.values(templateList),
                templates: [],
                requiredRule: [
                    v => !!v || 'This field is required',
                ],
                deleteDialog: false,

                formOptions,
                data: {},
                schema: {},

                relatedProject: null,
                relatedProjectDialog: false,
                relatedProjectDialogFormValid: false,
                relatedProjectDialogProjectCode: null,
                relatedProjectDialogUnit: null,

                relatedDatasets: null,
                relatedDatasetsTableOptions: {},

                units: units !== '' ? JSON.parse(units) : [],

                alert: false,
                alertType: "info",
                alertText: ""
            },

            mounted() {
                this.getData()
            },

            computed: {
                hasData() {
                    return (Object.keys(this.data).length !== 0)
                },
            },

            watch: {
                category: function () {
                    this.templates = (this.category) ? templateList[this.category]['templates'] : []
                },
                tab: function () {
                    if (this.hasData && !this.Error) {
                        if (this.tabItems[this.tab] === 'Project' 
                                && this.relatedProject === null
                                && Object.keys(this.data.project).length !== 0) {
                            this.getRelatedProject(this.data.project.project_id)
                        } else if (this.tabItems[this.tab] === 'Datasets'
                                && this.relatedDatasets === null) {
                            this.getRelatedDatasets()
                        }
                    }
                },
            },

            methods: {
                getSchema() {
                    this.templateDialog = false
                    if (this.category) {
                        let url = schemaEndpoint + '/' + this.category + (this.template !== '_default' ? '/' + this.template : '')
                        console.log('Get ' + url)
                        axios.get(url)
                            .then(response => {
                                // remove unnecessary bits from schema (and instance)
                                ['id', 'created_timestamp', 'created_by_user', 'modified_timestamp', 'modified_by_user'].forEach(e => delete response.data.properties[e])
                                // hide contributors, project, files
                                response.data.properties.contributors['x-display'] = 'hidden'
                                if (this.resource === 'Dataset') {
                                    response.data.definitions.Project['x-display'] = 'hidden'
                                    response.data.properties.files['x-display'] = 'hidden'
                                }
                                this.schema = response.data
                                this.schemaUrl = this.schema.$id
                            })
                            .catch(error => {
                                this.showAlert("error", "Missing schema: " + url)
                                console.log(error)
                                // reset this.category and this.template (if this.schemaUrl is set)
                                if (this.schemaUrl) this.getKeys()
                            })
                    }
                },

                getData() {
                    if (this.id !== "") {
                        let url = apiEndpoint + '/' + this.id
                        console.log('Get ' + url)
                        axios.get(url)
                            .then(response => {
                                this.data = response.data
                                let arr = []
                                this.titleParts.forEach(k => arr.push(this.data[k]))
                                this.title = this.resource + ": <i>" + arr.join(" &sdot; ")
                                this.isEditable = false
                                this.isNew = false
                                this.schemaUrl = this.data.$schema
                                this.getKeys()
                                this.getSchema()
                            })
                            .catch(error => {
                                this.title = this.resource + " not found"
                                this.isError = true
                                this.showAlert("error", "Could not find the " + this.resource.toLowerCase())
                                console.log(error)
                            })
                    } else {
                        this.title = "New " + this.resource.toLowerCase()
                        this.data = {}
                        this.isEditable = true
                        this.isNew = true
                        // if category (and template) are supplied as query parameters, retrieve schema, 
                        // if not, show templateDialog 
                        if (this.category) {
                            this.getSchema()
                        } else {
                            this.templateDialog = true
                        }
                    }
                },

                postData() {
                    this.alert = false
                    console.log('Post ' + apiEndpoint)
                    let data = {
                        $schema: this.schemaUrl,
                        ...this.data
                    }
                    axios.post(apiEndpoint, data)
                        .then(response => {
                            this.showAlert("success", "The " + this.resource.toLowerCase() + " was successfully saved.")
                            // replace data with the returned data
                            this.isNew = false
                            this.isEditable = false
                            this.id = response.data.id
                            this.data = response.data
                            window.history.replaceState(
                                {}, 
                                this.resource + " form", 
                                uiEndpoint + "/" + this.id
                            )
                            let arr = []
                            this.titleParts.forEach(k => arr.push(this.data[k]))
                            this.title = this.resource + ": <i>" + arr.join(" &sdot; ")
                        })
                        .catch(error => {
                            if (error.response && error.response.status == 422) {
                                let msg = Array.isArray(error.response.data.detail) ? error.response.data.detail[0].type : error.response.data.detail
                                this.showAlert("error", "The " + this.resource.toLowerCase() + " could not be saved: " + msg)
                            } else {
                                this.showAlert("error", "The " + this.resource.toLowerCase() + " could not be saved.")
                                console.warn(error)
                            }
                        })
                },

                putData() {
                    this.alert = false
                    let url = apiEndpoint + '/' + this.id
                    console.log('Put ' + url)
                    // prepare data to put
                    let data = {
                        $schema: this.schemaUrl,
                        ...this.data
                    }
                    axios.put(url, data)
                        .then(response => {
                            this.showAlert("success", "The " + this.resource.toLowerCase() + " was successfully saved.")
                            // replace data with the returned data
                            this.isEditable = false
                            this.id = response.data.id
                            this.data = response.data
                            window.history.replaceState(
                                {}, 
                                this.resource + " form", 
                                uiEndpoint + "/" + this.id
                            )
                            let arr = []
                            this.titleParts.forEach(k => arr.push(this.data[k]))
                            this.title = this.resource + ": <i>" + arr.join(" &sdot; ")
                        })
                        .catch(error => {
                            if (error.response && error.response.status == 422) {
                                let msg = Array.isArray(error.response.data.detail) ? error.response.data.detail[0].type : error.response.data.detail
                                this.showAlert("error", "The " + this.resource.toLowerCase() + " could not be saved: " + msg)
                            } else {
                                this.showAlert("error", "The " + this.resource.toLowerCase() + " could not be saved.")
                                console.warn(error)
                            }
                        })
                },

                deleteData() {
                    this.alert = false
                    if (!this.isNew) {
                        let url = apiEndpoint + '/' + this.id
                        console.log('Delete ' + url)
                        axios.delete(url)
                            .then(response => {
                                this.isDeleted = true
                            })
                            .catch(error => {
                                this.deleteDialog = false
                                if (error.response && error.response.status == 422) {
                                let msg = Array.isArray(error.response.data.detail) ? error.response.data.detail[0].type : error.response.data.detail
                                this.showAlert("error", "The " + this.resource.toLowerCase() + " could not be saved: " + msg)
                                } else {
                                    this.showAlert("error", "The " + this.resource.toLowerCase() + " could not be deleted.")
                                    console.warn(error)
                                }
                            })
                    }
                },

                getRelatedProject(project_id, project_code = null, unit = null) {
                    let url = null
                    if (project_id !== null) {
                        url = '/api/v1/projects/' + project_id
                    } else if (project_code !== null && unit !== null) {
                        url = '/api/v1/projects/keys?project_code=' + project_code + '&unit=' + unit
                    }
                    if (url !== null) {
                        console.log('Get ' + url)
                        axios.get(url)
                            .then(response => {
                                this.relatedProject = this.flattenObj(response.data)
                                // update dataset if changed
                                if (Object.keys(this.data.project).length === 0 
                                        || this.relatedProject.id !== this.data.project.project_id) {
                                    this.data.project['project_id'] = this.relatedProject.id
                                    this.data.project['project_code'] = this.relatedProject.project_code
                                    this.data.project['unit'] = this.relatedProject.unit
                                }
                                // prefill form data
                                this.relatedProjectDialogProjectCode = this.relatedProject.project_code
                                this.relatedProjectDialogUnit = this.relatedProject.unit
                                this.relatedProjectDialog = false
                            })
                            .catch(error => {
                                this.showAlert("error", "Could not find the related project")
                                console.log(error)
                            })
                    }
                },

                flattenObj(obj) {
                    let result = {}
                    for (const i in obj) {
                        console.log("KEY: " + i)
                        console.log(obj[i])
                        // We check the type of the i using typeof() function and recursively call the function again
                        if ((typeof obj[i]) === 'object' && !Array.isArray(obj[i])) {
                            const temp = this.flattenObj(obj[i])
                            for (const j in temp) {
                                result[i + '.' + j] = temp[j]
                            }
                        } else { // Else store obj[i] in result directly
                                if (Array.isArray(obj[i])) {
                                    obj[i] = obj[i]
                                } else if (i === '$schema') {
                                    let parts = obj[i].split("project/", 2)[1].split("/")
                                    result['category'] = parts[0]
                                    if (parts[1] !== null)
                                        result['template'] = parts[1]
                                }
                            result[i] = obj[i]
                        }
                    }
                    return result
                },

                makeColumnName(item) {
                    // split combined
                    if (item.includes('.')) {
                        let arr = item.split('.')
                        item = arr.pop()
                    }
                    // replace characters
                    item = item.replace('$', '').replace('_', ' ')
                    // capitalize first character
                    return item.charAt(0).toUpperCase() + item.slice(1);
                },

                getRelatedDatasets() {
                    let url = '/api/v1/datasets'
                    let skip = (this.relatedDatasetsTableOptions.page - 1) * this.relatedDatasetsTableOptions.itemsPerPage
                    let parameters = {
                        skip: isNaN(skip) ? null : skip,
                        limit: this.relatedDatasetsTableOptions.itemsPerPage,
                        sort_by: this.relatedDatasetsTableOptions.sortBy,
                        sort_desc: this.relatedDatasetsTableOptions.sortDesc,
                        find: JSON.stringify({'project.project_id': this.id})
                    }

                    console.log('Get ' + url)
                    axios.get(url, {params: parameters})
                        .then(response => {
                            this.relatedDatasets = response.data
                        })
                        .catch(error => {
                            this.showAlert("error", "Could not find the related datasets")
                            console.log(error)
                        })
                },

                saveData() {
                    if (this.isValid) {
                        if (this.isNew) {
                            this.postData()
                        } else {
                            this.putData()
                        }
                    }
                },

                getKeys() {
                    if (this.schemaUrl) {
                        let parts = this.schemaUrl.split(resource.toLowerCase() + "/", 2)[1].split("/")
                        this.category = parts[0]
                        this.template = (parts.length >= 2) ? parts[1] : '_default'
                    }
                },

                showAlert(type, text) {
                    this.alert = true
                    this.alertType = type
                    this.alertText = text
                }
            }
        })
    </script>
{% endblock %}