<!DOCTYPE HTML>
<html>
<head>
    <title>Schema Editor</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/images/favicon.ico">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@koumoul/vjsf@2.7.3/dist/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@koumoul/vjsf@2.7.3/dist/third-party.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@koumoul/vjsf@2.7.3/dist/main.css">
</head>
<body>

    <v-app id="app">

        <v-app-bar color="white" class="px-10">
            <img height="45" src="/static/images/logo.svg"/>
            <v-spacer></v-spacer>
            <v-app-bar-nav-icon></v-app-bar-nav-icon>
        </v-app-bar>

        <v-banner color="primary" class="elevation-5 px-10">
            <span class="white--text text-h3 px-10">{{ '{{title}}' }}</span>
            <template v-slot:actions>
                <v-tooltip left v-if="!isEditable">
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn
                            class="mx-2"
                            color="white"
                            outlined
                            fab
                            @click="isEditable = true"
                            v-bind="attrs"
                            v-on="on">
                            <v-icon>mdi-pencil</v-icon>
                        </v-btn>
                    </template>
                    <span>Edit template</span>
                </v-tooltip>
                <v-tooltip left v-if="isEditable">
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn
                            class="mx-2"
                            color="white"
                            outlined
                            fab
                            @click="initialize()"
                            v-bind="attrs"
                            v-on="on">
                            <v-icon>mdi-cancel</v-icon>
                        </v-btn>
                    </template>
                    <span>Cancel</span>
                </v-tooltip>
                <v-tooltip left v-if="!isNew && isEditable">
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn
                            class="mx-2"
                            color="error"
                            outlined
                            fab
                            small
                            @click=""
                            v-bind="attrs"
                            v-on="on">
                            <v-icon>mdi-delete</v-icon>
                        </v-btn>
                    </template>
                    <span>Delete</span>
                </v-tooltip>
            </template>
        </v-banner>

        <v-container>
            <v-row>

                <v-col>
                    <v-card class="mt-6" :disabled="!isEditable">
                        <v-card-title class="primary--text text-h5">Template form</v-card-title>
                        <v-card-text >
                            <v-form ref="form" v-model="valid" :disabled="!isEditable">
                                <v-jsf v-model="model" :schema="schema" :options="options" />
                            </v-form>
                            <v-textarea
                                v-model="jsonSchemaTxt"
                                @change="convertJson()"
                                name="json_schema_txt"
                                label="JSON schema overrides"
                                style="font-family:'monospace'"
                                rows="10"
                                filled />
                        </v-card-text>
                    </v-card>
                </v-col>

                <v-col>
                    <v-stepper 
                        alt-labels
                        class="mt-6"
                        v-show="isEditable"
                        v-model="stepper">
                        <v-stepper-header>
                            <v-stepper-step step="1">Metadata</v-stepper-step>
                            <v-divider></v-divider>
                            <v-stepper-step step="2">JSON</v-stepper-step>
                            <v-divider></v-divider>
                            <v-stepper-step step="3">Schema</v-stepper-step>
                        </v-stepper-header>
                        <v-stepper-items>
                            <v-stepper-content step="1">
                                <v-card>
                                    <v-card-actions>
                                        <span>
                                            The template metadata is 
                                            <span v-if="valid"> valid</span>
                                            <span v-else> invalid</span>
                                        </span>
                                        <v-spacer></v-spacer>
                                        <v-tooltip bottom>
                                            <template v-slot:activator="{ on, attrs }">
                                                <v-btn 
                                                    class="mx-2"
                                                    :color="valid?'success':'primary'"
                                                    fab
                                                    small
                                                    @click="$refs.form.validate()"
                                                    v-bind="attrs"
                                                    v-on="on">
                                                    <v-icon v-if="valid">mdi-checkbox-marked-outline</v-icon>
                                                    <v-icon v-else>mdi-checkbox-blank-outline</v-icon>
                                                </v-btn>
                                            </template>
                                            <span>Validate metadata</span>
                                        </v-tooltip>
                                        <v-tooltip bottom>
                                            <template v-slot:activator="{ on, attrs }">
                                                <v-btn 
                                                    class="mx-2"
                                                    color="primary"
                                                    :disabled="!valid"
                                                    @click="stepper = 2"
                                                    fab
                                                    v-bind="attrs"
                                                    v-on="on">
                                                    <v-icon>mdi-chevron-right</v-icon>
                                                </v-btn>
                                            </template>
                                            <span>Continue</span>
                                        </v-tooltip>
                                    </v-card-actions>
                                </v-card>
                            </v-stepper-content>

                            <v-stepper-content step="2">
                                <v-card
                                    class="mb-12"
                                    color="grey lighten-1"
                                    height="200px">
                                </v-card>
                                <v-btn
                                    color="primary"
                                    @click="stepper = 3">
                                    Continue
                                </v-btn>
                            </v-stepper-content>

                            <v-stepper-content step="3">
                                <v-card
                                    class="mb-12"
                                    color="grey lighten-1"
                                    height="200px">
                                </v-card>
                                <v-btn
                                    color="primary"
                                    @click="stepper = 1">
                                    Continue
                                </v-btn>
                            </v-stepper-content>
                        </v-stepper-items>
                    </v-stepper>

                    <v-card class="mt-6">
                        <v-card-title>
                            <v-tabs grow>
                                <v-tab>Example form</v-tab>
                                <v-tab>Base schema</v-tab>
                                <v-tab>Result schema</v-tab>
                            </v-tabs>
                        </v-card-title>
                        <v-card-text>
                            <pre>{{ '{{model.json_schema}}' }}</pre>
                        </v-card-text>
                    </v-card>
                </v-col>

            </v-row>
        </v-container>

        <v-container fill-height /> <!-- fills remaining horizontal space, if necessary -->
    </v-app>

    <script type="text/javascript">

        // initial settings and data from jinja
        const initialSchema = '{{ schema | safe }}'
        const initialId = '{{ id }}'
        const options =  { 
            "editMode": "inline",
            "textareaProps": {
                "filled": true,
                "auto-grow": true,
            },
        }
        
        Vue.component('VJsf', VJsf.default)

        new Vue({
            el: '#app',

            vuetify: new Vuetify({
                theme: {
                    themes: {
                        light: {
                            primary: '#af8d55'
                        },
                    },
                },
            }),

            created() {
                this.initialize()
            },

            data: {
                options,
                model: {},
                schema: {},
                valid: null,
                title: "Template form (loading)",
                stepper: 1,
                isEditable: false,
                isNew: false,
                jsonSchemaTxt: ""
            },

            methods: {
                initialize() {
                    this.transformSchema(initialSchema)
                    this.getTemplate(initialId)
                },

                transformSchema(schemaString) {
                    schema = JSON.parse(schemaString)
                    //schema.properties.json_schema.type = "string"
                    schema.properties.json_schema["x-display"] = "hidden"
                    this.schema = schema
                },

                getTemplate(id) {
                    if (id !== "") {
                        let url = '/api/v1/templates/' + id
                        axios.get(url)
                            .then(response => {
                                this.model = response.data
                                //this.model.json_schema = JSON.stringify(this.model.json_schema, null, 2)
                                this.jsonSchemaTxt = JSON.stringify(this.model.json_schema, null, 2)
                                this.title = "Template: " + response.data.resource + "/" + response.data.category  + "/" + response.data.template
                                this.isEditable = false
                                this.isNew = false
                                this.valid = true
                            })
                            .catch(error => {
                                console.log(error)
                            })
                    } else {
                        this.title = "New template"
                        this.isEditable = true
                        this.isNew = true
                        this.model = {}
                    }
                },

                convertJson() {
                    try {
                        console.log(JSON.parse(this.jsonSchemaTxt))
                    } catch (e) {
                        console.warn(e)
                    }
                },
            },
        })
    </script>
	
</body>
</html>