APP_NAME="Meta"
ADMIN_EMAIL="hescida@kikirpa.be"

MONGO_CONN_STR="mongodb://kikirpa:hescida@localhost:27017/"
MONGO_DB="meta"

DOCUMENTS_COLLECTION="documents"
PROJECTS_COLLECTION="projects"
TEMPLATES_COLLECTION="templates"

JSON_SCHEMA_VERSION="http://json-schema.org/draft-07/schema#"
JSON_SCHEMA_BASE_URL="https://balat.kikirpa.be/schema"